{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <body>
        <div style="background-color: rgb(255, 255, 255);margin: 320px; text-align: center;">        
            <h1 style="text-align: center;" >Entrar</h1>
                <div class="row">
                    <div class="col-md-4">
                        {{ wtf.quick_form(form) }}
                    </div>
                </div>
            <p id="Novo_usuario">Novo Usuário? <a href="{{ url_for('auth.register') }}">Registre-se!</a></p>
            <p> 
        </div>        
    </body>
{% endblock %}
